html,body {
	background-color: gray;
}
*{
	margin: 0px;
	padding: 0px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.navbar {
	width: 100%;
	height: 40px;
	background-color: black;
}
.navbar ul li {
	display: inline-block;
	height: 100%;
}
.navbar ul li a {
	line-height: 40px;
	display: inline-block;
	height: 100%;
	color:white;
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
}
.navbar ul li a:hover {
	color: blue;
	cursor: pointer;
}
.navbar ul li p{
	line-height: 40px;
	display: inline-block;
	height: 100%;
	color:white;
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
}
.notelist {
	float: left;
}
.notelist div{
	display: flex;
}
.notelist div .note {
	width: 256px;
	height: 304px;
	background-color: #ff9900;
	color: white;
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0.5rem;
	text-align: center;
	cursor: pointer;
}
.notelistright{
	display: flex;
	flex-direction: column;
	
}
.notelistright .noteright{
	width: 256px;
	height: 152px;
	background-color: #ff9900;
	color: white;
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0.5rem;
	text-align: center;
	cursor: pointer;
}
.createnote {
	width: 50%;
	margin-top: 0.5rem;
	margin-right: auto;
	margin-left: auto;
}
.createnote textarea {
	width: 100%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: gray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.submitbutton{
	float: right;
}